*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 5px 0 10px;
}

.main {
    font-family: sans-serif;
    padding: 15px;
}

.todo-list {
    margin: 20px 0;
}

.todo-list > li {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    transition: 0.5s;
}

.button {
    border: 1px solid lightgray;
    cursor: pointer;
    margin: 0 0 0 5px;
    padding: 6px 15px;


}

.button:focus {
    outline: none;
}

.input-field {
    border: 1px solid lightgray;
    height: 35px;
    padding: 0 10px;
    width: 100%;


}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.btn {
    width: 250px;
    background-color: cyan;
    height: 40px;
    padding: 10px;
}

.input-field:focus {
    border: 1px solid darken(lightgray, 10);
    outline: none;
}
